.bg_app_arsi {

    background: url('../img/bg_app_arsi.png') center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
}


.bg_google_play {

    background: url('../img/googleplay.png') center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
}

.video_app {

    width: "560px";
    height: "315px";

}

.dibujar_curso{
    margin: -1px;
    border-radius: 25px;
    border : solid #FFF 1px;
    box-shadow: 0 1px 3px rgb(252, 252, 252), 0 3px 12px rgba(0,0,0,0.22);
}

.dibujar_curso-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }



